.container {
  width: 375px;
  margin: 0 auto;
}

.logo {
  margin-top: 25px;
  margin-left: 30px;
  height: 30px;
}

.App {
  display: flex;
  flex-wrap: wrap;
  background-color: #bb1333;
  border-radius: 10px;
  margin-top: 70px;
}

.calcOperations {
  margin-left: 10px;
  padding-bottom: 15px;
}

.row {
  width: 75%;
  display: flex;
}

.numbersContainer {
  margin-right: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

.operatorsContainer {
  padding: 5px;
}

.specialContainer {
  display: flex;
  padding: 5px;
  justify-content: space-around;
}

.display {
  width: 80%;
  height: 80px;
  background-color: #24292e;
  margin: 0 auto;
  border-radius: 50px;
  padding: 5px;
  margin: 15px auto;
}

h1 {
  color: white;
  margin-right: 15px;
  font-size: 55px;
}

button {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  padding: 10px;
  margin: 5px 10px;
  font-size: 1.5rem;
  color: white;
  box-shadow: 1px 4px #24292e;
}

.zero {
  width: 150px;
  border-radius: 60px;
}

.numberButton {
  background-color: #113b78;
}

.specialButton {
  background-color: #2061b0;
}

.operatorButton {
  background-color: #3db5e5;
  margin-bottom: 7px;
}
